<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="login ">
    <div class="container text-center">
      <!--login modal-->
      <div class="row fixed-space">
      	<div class="col-xs-4 col-md-4 col-lg-4">
      		<img class="img-responsive logo" src="/images/logo1.png">
      	</div>
      </div>
      <div class="row double-fixed-space">
      	<div class="row title">
      		<h2> Exchange language</h2>
      		<h2> with native speakers!</h2>
      	</div>
      	<div class="row">
      		<h4> Are you learning a second language?</h4>
      		<h4> With Language Cast, you can improve it with native speakers around the world</h4>
      	</div>
      	<br>
      	<div class="row col-xs-12 col-md-12 col-lg-12">
          <a href="/auth/facebook"><img src="images/facebook.png" width="250"></a> 
          <a href="/auth/twitter"><img src="images/twitter.png" width="250"></a> 
      	</div>
      </div>
    </div>
  </body>
</html>